{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome</h1>

     <h1 class="cover-heading">Visu Triathlon</h1>
    <p class="lead">Visualize your time spent in running, swimming and cycling on the last 12 weeks</p>
    <p class="lead">
      <a href="{{ linklogin }}" class="btn btn-lg btn-secondary">LOGIN</a>
    </p>

{% endblock %}